* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

section{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/01terminator2.jpg);
  background-size: contain;
  background-repeat: repeat;

}

.container {
  min-width: 200px;
  height: 50px;
  padding: 10px;
  border: 3px solid #ff0000;
  border-radius: 10px;
  bor
  background-color: #e61919;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, 50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Orbitron',sans-serif;
}
